html {
    height: 100%;
}

* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
    font-size: 100%;
    background-color: #1C1C1C;
    margin: 10px;
    min-height: 100%;
}

.imagem-logo {
    height: 72px;
    margin-right: 650px; 
} 

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
}    

.cabecalho-menu {
    display: flex;
    gap: 10px 30px;
}

.cabecalho-menu-item {
    font-family: 'Sarala' sans-serif;
    color: #DAA520;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
}

.produtos-item img {
    display: block ;
    width: 20%;
    padding: 10px;
    align-content: center;
}

.rodape-imagem {
    height: 40px;
    display: block;
    margin: 0 auto;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0 ;
  }

footer {
    text-align: center;
     padding: 40px 0;
}

